*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


   /* HOME PAGE */

.bgImg{
  width: 50%;
  min-height: 50vh;
  background-image: url(../images/jogging.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}

.title{
padding-top: 100px;
font-weight: bold;
}

