{% extends 'base.html.twig' %}
{% block title %}
	SymRecipe - Nouveau post
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class='mt-4'>Création d'un post</h1>
{{ form(form)}}
	</div>
{% endblock %}
