{# Je lie notre page html à notre base.html.twig qui contient les link Bootsrap en autre  #}
{% extends 'base.html.twig' %}


{% block title %}
	SportNet - Ajouter une annonce
{% endblock %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1>Ajouter une annonce</h1>
        </div>
{% endblock %}

