{# Je lie notre page html à notre base.html.twig qui contient les link Bootsrap en autre  #}
{% extends 'base.html.twig' %}


{% block title %}
	SportNet - Les annonces sportifs
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">SportNet - Les annonces sportifs</h1>
		</div>
	</div>
{% endblock %}