{# Je lie notre page html à notre base.html.twig qui contient les link Bootsrap en autre  #}
{% extends 'base.html.twig' %}

{% block title %}
	SportNet - Accueil
{% endblock %}

{% block body %}
<div class="container-fluid bgImg">
	<div class="p-5 text-center bg-image">
		<div class="mask pb-5">
			<div class="d-flex justify-content-center align-items-center h-100">
				<div class="text-light">
					<h1 class="mb-3">SPORTNET</h1>
					<h4 class="mb-3">Trouve toi un partenaire !</h4>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

